attrs>=19.3.0
bleach>=6.0.0
certifi>=2023.5.7
cffi>=1.15.1
cftime>=1.0.4.2
cloudpickle>=2.2.1
coverage>=5.0.3
dask>=2021.10.0
docutils>=0.18.1
eccodes>=1.5.2
eccodes-python>=0.9.7
exceptiongroup>=1.1.1
findlibs>=0.0.5
fsspec>=2023.1.0
GDAL>=3.5.2
importlib-metadata>=1.5.0,<5.0
iniconfig>=2.0.0
llvmlite>=0.38.1
locket>=1.0.0
more-itertools>=8.2.0
netCDF4>=1.5.3
nine>=1.1.0
numba>=0.55.1
numexpr>=2.8.4
numpy>=1.19.5
packaging>=20.1
pandas>=0.25.1
partd>=1.4.0
pathlib2>=2.3.5
pluggy>=0.13.1
py>=1.10.0
pycparser>=2.21
pyg2p>=3.2.3
Pygments>=2.15.1
pyparsing>=2.4.2
pyproj>=3.2.1
pytest>=5.3.5
pytest-cov>=2.8.1
pytest-env>=0.6.2
pytest-mock>=2.0.0
python-dateutil>=2.8.1
pytz>=2019.3
PyYAML>=5.4
readme-renderer>=35.0
scipy>=1.7.3
six>=1.14.0
tomli>=2.0.1
toolz>=0.10.0
typing_extensions>=4.5.0
ujson>=2.0.2
wcwidth>=0.1.8
webencodings>=0.5.1
xarray>=0.15.1
zipp>=3.0.0
