attrs==19.3.0
cftime==1.0.4.2
coverage==5.0.3
dask==2021.10.0
importlib-metadata==1.5.0
more-itertools==8.2.0
netCDF4==1.5.3
nine==1.1.0
numpy==1.19.5
packaging==20.1
pandas==0.25.1
pathlib2==2.3.5
pluggy==0.13.1
py==1.8.1
pyparsing==2.4.2
pytest==5.3.5
pytest-cov==2.8.1
pytest-env==0.6.2
pytest-mock==2.0.0
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.3
six==1.14.0
toolz==0.10.0
wcwidth==0.1.8
xarray==0.15.1
zipp==3.0.0
